<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="$(arg model)">

  <!-- define the material color -->
  <material name="dark_grey">
    <color rgba="0.5 0.5 0.5 1.0"/>
  </material>
  <material name="orange">
    <color rgba="0.94 0.38 0.247 1.0"/>
  </material>
  <material name="blue">
    <color rgba="0 0 1.0 1.0"/>
  </material>
  <material name="green">
    <color rgba="0 1.0 0 1.0"/>
  </material>
  <material name="white">
    <color rgba="1.0 1.0 1.0 1.0"/>
  </material>

  <!-- this include provides the macro definition used below -->
 <xacro:include filename="$(find agv_sim)/urdf/agv_plug.urdf.xacro"/>

 <xacro:property name="model" value="(arg model)"/>

 <!-- if more models are defined, add them here -->
 <xacro:if value="${model =='agv1'}">
   <xacro:agv1 name="$(arg model)" frame="base">
   </xacro:agv1>
 </xacro:if>

</robot>
