<?xml version="1.0"?>
<robot name="agv1">

  <link name="base" />

  <joint name="fixed" type="fixed">
    <parent link="base" />
    <child link="body" />
  </joint>

  <link name="body">
    <inertial>
      <mass value="2093.963" />
      <inertia ixx="923.814" ixy="-1.466" ixz="5.030" iyy="925.290" iyz="86.517" izz="475.159" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://agv_description/meshes/BODY.stl" />
      </geometry>
      <material name="orange" />
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://agv_description/meshes/BODY.stl" />
      </geometry>
    </collision>
  </link>

  <joint name="mast_joint" type="fixed">
    <parent link="body" />
    <child link="mast" />
    <origin xyz="0 631 1875" rpy="0 0 0" />
  </joint>

  <link name="mast">
    <inertial>
      <mass value="586.306" />
      <inertia ixx="1116.994" ixy="-0.778" ixz="-0.759" iyy="622.118" iyz="340.868" izz="579.606" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://agv_description/meshes/MAST.stl" />
      </geometry>
      <material name="dark_grey" />
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://agv_description/meshes/MAST.stl" />
      </geometry>
    </collision>
  </link>

  <!-- <joint name="front_wheel_l_joint" type="fixed">
    <parent link="body" />
    <child link="front_wheel_l" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <link name="front_wheel_l">
    <inertial>
      <mass value="19.247" />
      <inertia ixx="14.401" ixy="-7.39" ixz="-0.473" iyy="3.965" iyz="0.91" izz="18.142" />
    </inertial>
    <visual>
      <origin xyz="45.1 86.0 0" rpy="0 0 1.571" />
      <geometry>
        <mesh filename="package://agv_description/meshes/FRONT_WHEEL.stl" />
      </geometry>
      <material name="green" />
    </visual>
    <collision>
      <origin xyz="45.1 86.0 0" rpy="0 0 1.571" />
      <geometry>
        <mesh filename="package://agv_description/meshes/FRONT_WHEEL.stl" />
      </geometry>
    </collision>
  </link> -->

  <!-- <joint name="front_wheel_r_joint" type="fixed">
    <parent link="body" />
    <child link="front_wheel_r" />
  </joint>

  <link name="front_wheel_r">
    <inertial>
      <mass value="2700" />
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://agv_description/meshes/FRONT_WHEEL.stl" />
      </geometry>
      <material name="green" />
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://agv_description/meshes/FRONT_WHEEL.stl" />
      </geometry>
    </collision>
  </link> -->

  <!-- <joint name="steering_joint" type="continuous">
    <parent link="body" />
    <child link="steering_part" />
  </joint>


  <link name="steering_part">
    <inertial>
      <mass value="2700" />
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://agv_description/meshes/STEERING_PART.stl" />
      </geometry>
      <material name="white" />
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://agv_description/meshes/STEERING_PART.stl" />
      </geometry>
    </collision>
  </link> -->

  <!-- <joint name="drive_wheel_joint" type="continuous">
    <parent link="steering_part" />
    <child link="drive_wheel" />
  </joint>

  <link name="drive_wheel">
    <inertial>
      <mass value="2700" />
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://agv_description/meshes/DRIVE_WHEEL.stl" />
      </geometry>
      <material name="blue" />
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://agv_description/meshes/DRIVE_WHEEL.stl" />
      </geometry>
    </collision>
  </link> -->

</robot>
